Dead Cow Nom-Nom Section
.topnav {
    overflow: hidden;
    background-color: chocolate;
    position: relative;
}
.topnav #myLinks {
    display: none;
}
.topnav a {
    color: gold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.topnav a.icon {
    background: chartreuse;
    display: block;
    
}