Dead Cow Nom-Nom Section
.topnav {
    overflow: hidden;
    background-color: chocolate;
    position: relative;
}
.topnav #myLinks {
    display: none;
}
.menulink {
    background-color: gold;
    color: purple;
    border: 5px solid chartreuse;
}
.topnav a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.topnav a.icon {
    background: chartreuse;
    display: block;
    
}
#myLinks {
    background-color: chartreuse;
}